@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Verdana, sans-serif;
	background: #b6b8be;
}



.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: rgb(36, 36, 36);
}

.forms {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}
	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}
	49.999% {
		z-index: 1;
	}
}

.switcher {
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	letter-spacing: .5px;
	color: rgb(12, 12, 12);
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: rgb(23, 23, 23);
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: rgb(0, 0, 0);
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
  border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: #fff;
		transform: translate(35%, -20px);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		background: #d7e7f1;
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: #fff;
		transform: translate(-35%, -20px) scaleY(1);
	}
	50% {
		transform: translate(0, 0) scaleY(.8);
	}
	100% {
		background: #d7e7f1;
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fbfdff;
	background: #a7e245;
	transform: translateX(-30%);
}

.btn-signup {
	color: #a7e245;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #a7e245;
	transform: translateX(30%);
}


/*cuadro coders*/

  
  .fakeButtons {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid #000;
	position: relative;
	top: 6px;
	left: 6px;
	background-color: #ff3b47;
	border-color: #9d252b;
	display: inline-block;
  }
  
  .fakeMinimize {
	left: 11px;
	background-color: #ffc100;
	border-color: #9d802c;
  }
  
  .fakeZoom {
	left: 16px;
	background-color: #00d742;
	border-color: #049931;
  }
  
  .fakeMenu {
	width: 350px;
	box-sizing: border-box;
	height: 25px;
	background-color: #bbb;
	margin: 0 auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
  }
  
  .fakeScreen {
	background-color: #151515;
	box-sizing: border-box;
	width: 350px;
	margin: 0 auto;
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  }
  
  p {
	position: relative;
	left: 50%;
	margin-left: -8.5em;
	text-align: left;
	font-size: 1.25em;
	font-family: monospace;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
  }
  
  span {
	color: #fff;
	font-weight: bold;
  }
  
  .line1 {
	color: #9CD9F0;
	-webkit-animation: type .5s 1s steps(20, end) forwards;
	-moz-animation: type .5s 1s steps(20, end) forwards;
	-o-animation: type .5s 1s steps(20, end) forwards;
	animation: type .5s 1s steps(20, end) forwards;
  }
  
  .cursor1 {
	-webkit-animation: blink 1s 2s 2 forwards;
	-moz-animation: blink 1s 2s 2 forwards;
	-o-animation: blink 1s 2s 2 forwards;
	animation: blink 1s 2s 2 forwards;
  }
  
  .line2 {
	color: #CDEE69;
	-webkit-animation: type .5s 4.25s steps(20, end) forwards;
	-moz-animation: type .5s 4.25s steps(20, end) forwards;
	-o-animation: type .5s 4.25s steps(20, end) forwards;
	animation: type .5s 4.25s steps(20, end) forwards;
  }
  
  .cursor2 {
	-webkit-animation: blink 1s 5.25s 2 forwards;
	-moz-animation: blink 1s 5.25s 2 forwards;
	-o-animation: blink 1s 5.25s 2 forwards;
	animation: blink 1s 5.25s 2 forwards;
  }
  
  .line3 {
	color: #E09690;
	-webkit-animation: type .5s 7.5s steps(20, end) forwards;
	-moz-animation: type .5s 7.5s steps(20, end) forwards;
	-o-animation: type .5s 7.5s steps(20, end) forwards;
	animation: type .5s 7.5s steps(20, end) forwards;
  }
  
  .cursor3 {
	-webkit-animation: blink 1s 8.5s 2 forwards;
	-moz-animation: blink 1s 8.5s 2 forwards;
	-o-animation: blink 1s 8.5s 2 forwards;
	animation: blink 1s 8.5s 2 forwards;
  }
  
  .line4 {
	color: #fff;
	-webkit-animation: type .5s 10.75s steps(20, end) forwards;
	-moz-animation: type .5s 10.75s steps(20, end) forwards;
	-o-animation: type .5s 10.75s steps(20, end) forwards;
	animation: type .5s 10.75s steps(20, end) forwards;
  }
  
  .cursor4 {
	-webkit-animation: blink 1s 11.5s infinite;
	-moz-animation: blink 1s 8.5s infinite;
	-o-animation: blink 1s 8.5s infinite;
	animation: blink 1s 8.5s infinite;
  }
  
  @-webkit-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @-moz-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @-o-keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @-webkit-keyframes type {
	to {
	  width: 17em;
	}
  }
  
  @-moz-keyframes type {
	to {
	  width: 17em;
	}
  }
  
  @-o-keyframes type {
	to {
	  width: 17em;
	}
  }
  
  @keyframes type {
	to {
	  width: 17em;
	}
  }



/*social media*/


ul {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #3b5999;
}

ul li:nth-child(2) a:before{
  background: #ea4444;
}

ul li:nth-child(3) a:before {
  background: #0077b5;
}

ul li:nth-child(4) a:before {
  background: #be5eea;
}