:root {
    --primary-color: white;
    --secondary-color: #1e1e1e;
    --text-color: black;
    --task-color: white;
    --footer-color: #1e1e1e;
    --theme-btn: url("assets/Dark-theme-btn.svg");
    --container-bg: url("./assets/Light-empty.svg");
    --complete-icon: url("assets/complete.svg");
    --filter: none;
    --theme-transition: 0s;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    position: relative;
    border: 4px var(--footer-color) solid;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 500vh;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    background: var(--primary-color);
    transition: var(--theme-transition);
}

